<div id="<%= dom_id user_inventory %>">
  <p>
    <strong>Owner email:</strong>
    <%= user_inventory.owner_email %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= user_inventory.user_email %>
  </p>

  <p>
    <strong>Inventory:</strong>
    <%= user_inventory.inventory_id %>
  </p>

</div>
