<div class="accordion-item">
  <h2 class="accordion-header" id="heading12">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12">
      10. Checking Out and Returning Items
    </button>
  </h2>
  <div id="collapse12" class="accordion-collapse collapse">
    <div class="accordion-body">
      <h6>Checking Out an Item:</h6>
      <p>You can check out an item in two ways:</p>
      <ul>
        <li><strong>Individual:</strong> Click the <strong>"Check Out"</strong> button in the item's row. If you are allowed to check out the item, it will be assigned to you.</li>
        <li><strong>Bulk:</strong> Use the checkboxes next to multiple items, then click the <strong>"Check Out Selected"</strong> button at the bottom of the table.</li>
      </ul>

      <h6>Returning an Item:</h6>
      <p>To return items that you have checked out:</p>
      <ul>
        <li><strong>Individual:</strong> Click the <strong>"Return"</strong> button in the item's row.</li>
        <li><strong>Bulk:</strong> Select multiple checked-out items with the checkboxes, then click the <strong>"Return Selected"</strong> button at the bottom.</li>
      </ul>

      <p>Note: You can only check out or return items if you have the appropriate permissions and the item is not already checked out by another user.</p>
    </div>
  </div>
</div>