<div class="accordion-item">
  <h2 class="accordion-header" id="heading11">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11">
      11. User Support
    </button>
  </h2>
  <div id="collapse11" class="accordion-collapse collapse">
    <div class="accordion-body">
      <p><strong>Contact:</strong></p>
      <p>Griffin Beaudreau (Product Manager)</p>
      <p>Email: <a href="mailto:griffinbeaudreau@tamu.edu">griffinbeaudreau@tamu.edu</a></p>
    </div>
  </div>
</div>
