<h1>Delete Category</h1>

<div>
  <%= form_with model: @category, url: category_path(@category), method: :delete, local: true do |f| %>
    
    <p>Are you sure you want to permanently delete this category?</p>

    <p class="reference-name"><%= @category.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Category", class: "btn btn-danger") %>
    </div>

  <% end %>

  <%= link_to "No, Back to List", categories_path, class: "btn btn-secondary" %>
</div>
